body{
    font-size: 16px;
    font-family: 微软雅黑;
}
a{
    text-decoration: underline;
}
.main{
    width: 80%;
    margin:50px auto;

}
.main h1{
    text-align: center;
}
.main table{
    width: 100%;
    text-align: center;
    border-collapse:collapse;
    border:1px solid green;
}
.main table td{
    border:1px solid green;
}
.main table input[type="text"]{
    width:80%;
}
